* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 600px;
}

.inputMatrix {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.parent {
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0;
	padding: 0;
}

.child {
	width: 150px;
	display: flex;
	flex-wrap: wrap;
}

.child > input {
	width: 40px;
	height: 25px;
	text-align: center;
}

.functions,
.operations {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	gap: 5px;
}

.function,
.operation {
	padding: 8px 4px;
}

#console {
	width: 100%;
	resize: none;
}

@media screen and (max-width: 500px) {
	body {
		display: block;
	}

	.container {
		width: min(100% - 32px);
		margin-inline: auto;
	}

	.inputMatrix {
		display: block;
	}

	.child {
		width: 100%;
	}

	.child > input {
		width: 33%;
		height: 6vh;
		font-size: 14px;
	}
}
