* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 600px;
}

.inputMatrix {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.parent {
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0;
	padding: 0;
}

.child {
	width: 150px;
	display: flex;
	flex-wrap: wrap;
}

.child > input {
	width: 40px;
	height: 25px;
}

.functions,
.operations {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	gap: 5px;
}

.function,
.operation {
	padding: 8px 4px;
}

#console{
	width: 100%;	
	resize: none;
}